@media screen and (max-width: 1115px) {

    .header-back {
        margin: 31px 31px 30px 30px;
    }

    .header-wrapper {
        margin: 0;
    }

    .center-our-friends {
        width: 86%;
        margin-top: 27px;
    }

    .table-our-friends-wrapper {
        gap: 31px;
    }

    .row2 {
        margin-top: 0;
    }

    .row2-768 {
        display: none;
    }

    .circle-arrow {
        margin-top: 39px;
        margin-bottom: 76px;
    }

    .footer-wrapper {
        flex-wrap: wrap;
        margin: 0px 26px 0px 64px;
    }

    .column {
        width: 50%;
        margin-top: 32px;
    }

    #center {
        margin-left: 0;
    }

    #puppy-footer {
        margin-top: 30px;
        margin-left: 170px;

    }

    .contain-popup {
        width: 82%;
        height: 39.7%;
        margin-left: 53px;
    }

    .popup .circle {
        margin-top: -403px;
    }
    
    .text-animal h3 {
        margin: 0;
    }
    
    .text-animal h4 {
        margin: 0;
    }
    
    .text-animal h5 {
        margin: 0;
    }
}