@font-face {
    font-family: 'Georgia';
    src: url("../../../assets/fonts/Georgia.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ArialRegular';
    src: url("../../../assets/fonts/ArialRegular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArialItalic';
    src: url("../../../assets/fonts/ArialItalic.ttf");
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Georgia';
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin: 0;
    font-weight: normal;
}

.logo-text {
    font-family: 'Arial';
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin: 0;
    margin-top: 9px;
    margin-left: 4px;
}

h2 {
    font-family: 'Georgia';
    font-size: 44px;
    line-height: 57px;
    color: #FFFFFF;
    font-weight: normal;
}

h3 {
    font-family: 'Georgia';
    font-size: 35px;
    line-height: 45px;
    font-weight: normal;
    color: #FFFFFF;
}

h4 {
    font-family: 'Georgia';
    font-size: 20px;
    line-height: 23px;
    font-weight: normal;
}

h5 {
    font-family: 'Georgia';
    font-size: 15px;
    line-height: 17px;
    font-weight: normal;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    overflow-y: overlay;
}

body {
    margin: 0 auto;
}

.wrapper-header-back {
    background: url(../../../assets/images/noise_transparent.png),
        radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.wrapper-header-notonly {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 1.96em 2.6em 0 2.5em;
}

.header-nav-list {
    display: flex;
    list-style: none;
    font-family: 'Arial';
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
    color: #CDCDCD;
    gap: 35px;
}

.burger-icon {
    display: flex;
}

#about {
    color: #FFFFFF;
    border-bottom: 3px solid #F1CDB3;
}

.nav-hover:hover {
    color: #FFFFFF;
    /*border-bottom: 3px solid #F1CDB3;*/
    transition: 0.8s;
}

.not-only-wrapper {
    display: flex;
    margin: 6.6em 2.6em 0 2.38em;
    gap: 2.6em;
}

.text-not-only {
    margin-top: 6.9em;
}

.text-not-only h2 {
    margin-right: 50px;
}

.paragraph-l {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #CDCDCD;
    margin-top: 9%;
}

.btn-not-only {
    align-items: center;
    justify-content: center;
    display: flex;
    background: #F1CDB3;
    border-radius: 100px;
    width: 207px;
    height: 52px;
    border: none;
    font-family: 'Georgia';
    font-style: normal;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #292929;
    margin-top: 42px;
    transition: 0.8s;
}

.btn-not-only:hover {
    transition: 0.3s;
    background: #FDDCC4;
}

.img-not-only {
    margin-top: -20px;
}

.img-not-only img {
    height: 100%;
}

.about-back {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
}

.about-wrapper {
    display: flex;
    margin: 80px 215px 94px;
}

.text-about {
    margin-left: 120px;
}

.text-about h3 {
    color: #545454;
    margin: 15px 20px 0px 0px;
    letter-spacing: 0.06em;
}

.text-about .paragraph-l {
    color: #545454;
    margin-top: 24px;
}

.our-friends {
    background-color: #F6F6F6;
}

.our-friends-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
}

.our-friends h3 {
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
}

.caption-our-friends {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 82px;
}

.circle {
    width: 48px;
    height: 48px;
    border: 2px solid #F1CDB3;
    border-radius: 50%;
    line-height: 10em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.8s;
}

.circle:hover {
    background-color: #FDDCC4;
    cursor: pointer;
    border: 2px solid #FDDCC4;
    transition: 0.2s;
}

.left {
    transform: rotate(180deg);
}

.center-our-friends {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 59px;
}

.arrow {
    margin: 0 40px;
}

.arrows-320 {
    display: none;
}

.table-our-friends {
    width: 100%;
    margin: 0 13px;
}

.table-our-friends-wrapper {
    display: flex;
    justify-content: space-between;
}

.shell {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    cursor: pointer;
}

.shell p {
    font-family: 'Georgia';
    font-size: 20px;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 30px;
}

.shell-btn {
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    margin-top: 10px;
    background: #FAFAFA;
    transition: 0.8s;
}

.shell:hover .shell-btn {
    background: #FDDCC4;
    border: none;
    transition: 0.5s;
}

.shell:hover {
    background: #FFFFFF;
    transition: 0.5s;
}


.btn-our-friends {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F1CDB3;
    border-radius: 100px;
    width: 262px;
    height: 52px;
    border: none;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #292929;
    margin: 60px 0 100px 0;
    transition: 0.8s;
}

.btn-our-friends:hover {
    background: #FDDCC4;
}


.help-background {
    max-width: 1280px;
    margin: 0 auto;
}

.help-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caption-help {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 81px;
}

.help-wrapper h3 {
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
}

.table-help {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 61px;
}

.table-help-1115 {
    display: none;
}

.table-help-320 {
    display: none;
}

.line-help-one,
.line-help-two {
    display: flex;
    justify-content: space-between;
}

.line-help-one {
    margin: 0px 128px;
}

.line-help-two {
    margin: 37px 212px 80px;
}

.info-table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-table p {
    font-family: 'Georgia';
    font-size: 20px;
    letter-spacing: 0.09em;
    color: #545454;
    margin-top: 28px;
}

.in-addition {
    background: #F6F6F6;
}

.in-addition-back {
    margin: 0px auto;
    max-width: 1280px;
}

.in-addition-wrapper {
    display: flex;
    margin-left: 183px;
}

.img-donat {
    margin-top: 91px;
    margin-bottom: 106px;
}

.text-donat {
    margin: 81px 0 0px 29px;
}

.text-donat h3 {
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
}

.text-donat h5 {
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 19px;
}

.text-donat span {
    display: flex;
    align-items: center;
    gap: 7px;
    background: #F1CDB3;
    border-radius: 9px;
    border: none;
    letter-spacing: 0.06em;
    margin-top: -6px;
    width: 62%;
}

.text-donat span:hover {
    background: #FDDCC4;
    transition: 0.8s;
    cursor: pointer;
}

.text-donat span img {
    margin-left: 16px;
}

.text-donat span a {
    font-family: 'Georgia';
    font-size: 20px;
    line-height: 23px;
    font-weight: normal;
    margin: 10px;
    color: #545454;
    letter-spacing: 0.06em;
}

.p-donat {
    font-family: 'Arial';
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
    margin-top: 20px;
    margin-right: 36%;
}

.footer {
    background: url(../../../assets/images/noise_transparent.png),
        radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.footer-back {
    max-width: 1280px;
    margin: 0 auto;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0px 40px 0px 40px;
}

.column {
    width: 33.33333333%;
    margin-top: 56px;
}

.footer-text {
    line-height: 130%;
    letter-spacing: 0.06em;
    margin: 0;
}

.info-footer {
    margin-top: 40px;
}

.boston {
    display: flex;
    flex-direction: column;
    margin-top: 31px;
}

.london img {
    margin-top: -5px;
}

.info-footer a {
    display: flex;
    gap: 20px;
}

.info-footer h4 {
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin: 0;
}

.info-footer h4:hover {
    color: #F6F6F6;
    transform: scale(1.05);
    transition: 0.3s;
}

.info-footer img:hover {
    transition: 0.3s;
    transform: scale(1.3);
}

#center {
    margin-left: 59px;
}

#puppy-footer {
    display: flex;
    margin-top: -16px;
    margin-left: 5em;
}

.footer-text-320 {
    display: none;
}

.pop-up {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(41, 41, 41, 0.6);
}

.contain-popup {
    display: flex;
    width: 67%;
    height: 48.25%;
    background: #FAFAFA;
    border-radius: 9px;
    margin-left: 77px;
}

.card-popup {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.pop-up .circle {
    width: 52px;
    height: 52px;
    margin-top: -550px;
}